# Python
__pycache__/
*.py[cod]

# SQLite DB
db.sqlite3

# Media/uploads (업로드 파일)
media/
uploads/

# Byte-compiled and cache files
*.log
*.sqlite3

# Django migrations
*/migrations/
!*/migrations/__init__.py

# 환경 파일
.env

# 기타 숨김 파일
.DS_Store
