# Python
__pycache__/
*.py[cod]

# Django DB
db.sqlite3

# 환경 변수
.env

# 미디어 파일
media/
uploads/

# Django migrations (except __init__.py)
*/migrations/
!*/migrations/__init__.py

# OS/IDE 잡파일
.DS_Store
.idea/
.vscode/

# 로그
*.log
